* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #07001c;
}

.App, .freecodecamp-logo-container, .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    flex-wrap: wrap;
    padding-top: 50px;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-container {
    width: 100%;
    margin: 20px; 
}

.freecodecamp-logo {
    width: 650px;
}

.main-container {
    min-height: 550px;
    min-width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 598px) {
    .freecodecamp-logo {
        width: 100%;
    }

    .main-container {
        min-width: 100%;
    }
}